<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	{% include '../components/template/head.twig' %}
	{% block styles %}{% endblock %}
</head>
<body>
{% include '../components/template/header.twig' %}
<main>
	{% block page %}{% endblock %}
</main>
{% include '../components/template/footer.twig' %}
{% include '../components/template/footer-scripts.twig' %}
</body>
</html>
