@font-face {
  font-family: 'MuseoSans300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
